.my-custom-class {
    --background: #222;
  }

/*.page {
  background-color: white;
}
*/
.title {
  text-align: center;
}

#subHeader {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: rgb(131, 131, 131);
  padding-bottom: 5px;
}

#cardHeader {
  padding: 0%;
}

#chevron {
  padding: 0%;
}

#cardContent {
  background-color: gainsboro;
  color: black  ;
}

#report {
  font-size: 15px;
  padding: 10px;
}

.writeRecord {
  width: 100%;
}

#reportTitle {
  margin-top: 10%;
}

#reportTitleText {
  border: rgba(0, 0, 0, 0.068);
  border-style: solid;
  border-width: 1px;
  
}

#write {
  padding: 5%;
  border: rgba(0, 0, 0, 0.068);
  border-style: solid;
  border-width: 1px;
}

#notice {
  font-size: 12px;
}


.inputchoices {
  align-items: center;
  text-align: center;
  min-height: 25%;
}


#reportToggle {
  font-size: 12px;
}

.error {
  text-align: center;
  color: red;
}

.emergency {
  height: 140px;
  padding: 0%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-size: 13px;
  }

  #phone {
    font-weight: bold;
  }